
<div class="wrapper">

    <div class="items-checked-in-for-inspection">
        <h3>Items Checked In For Service</h3>
        <div>
          <div >
            SUV - Vin XXXXX
          </div>
          <button (click)="openDialog(suvFakeData, vehicleType.SUV,  'xxxxx')">Complete Inspection</button>
        </div>
        <div>
          <div>
            Truck - Vin aaaaaa
          </div>
          <button (click)="openDialog(truckFakeData, vehicleType.Truck,'aaaaa')">Complete Inspection</button>
        </div>
      </div>
      
      <div class="send-to-manufacturer">
        <h3>Manufacturing Book In System</h3>
        <button (click)="sendToManufacturer()">Send A Vehicle To Manufacturer</button>
      </div>
</div>

  